.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0px 0px 13px 0px;
  background-color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 29px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-right: 30px;
}

.nav-link a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
  position: relative;
  color: black;

}

/* .nav-link a:hover {
  color: #d00606;
} */

.nav-link a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.nav-link a:hover::after {
  width: 100%;
}

.logo {
  height: 70px;
  margin-left: -117px;
}

.btn-1 {
  text-decoration: none;
  /* background-color: transparent; */
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: 0px 0px 13px 0px;
  /* transition: background-color 0.3s ease-in-out; */
}

.btn-1 a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;

  /* transition: color 0.3s ease-in-out; */
}

.btn-1:hover {
  background-color: #ffffff;
  color: #ffffff;
}